@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

body{
    background-color: #d68232;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    width: 25vw;
    margin: 60px auto;
    background-color: rgb(232, 224, 224);
    border-radius: 2px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.nav{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 20px;
}
.circle{
    display: flex;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    padding: 2px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(255,26,26,0.22);
}
.circle:hover{
    background-color: rgb(210, 210, 210);
    transition-duration: 0.5s;
}
.container img{
    margin: 0 auto;
    width: 300px;
    border-radius: 100%;
    border: 5px solid white;
    box-shadow: 0 5px 10px rgba(255,26,26,0.22);
}

.container h1{
    font-size: 22px;
    font-weight: 500;
    color: #333;
    margin-top: 20px;
}
.container p{
    font-size: 14px;
    color: #333;
    opacity: 0.5;
}

#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #d68232;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #d68232;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    border: 8px solid #fff;
}
.controls{
    display: flex;
    gap:30px;
    flex-direction: row;
}
.controls i{
    height: 60px;
    width: 60px;
    margin: 20px;
    background: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #d68232;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.11);
    cursor: pointer;
}
.controls i:hover{
    background-color: rgb(210, 210, 210);
    transition-duration: 0.5s;
}
.controls i:nth-child(2){
    transform: scale(1.5);
    background-color: #d68232;
    color: white;
}